html
    head
        title Milligrami - Electron
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
        )
        link(
            href="window.css" 
            rel="stylesheet"
            type="text/css"
        )
    body
        div(id="root")
        script(src="index.js")
